<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>This is Signup page</title>
</head>
<body>
    <section>
		<div class="container"> 
			<div class="row">
				<div class="col-md-8 offset-md-2">
					<div class="my-card mt-2">
						
						<!--Alert for success or fail-->
						<div th:if="${message}"
						     class="alert"
						     th:classappend="${message.type}"
						     role="alert">

						    <p class="text-center" th:text="${message.content}"></p>

						</div>
							
						<div class="container text-center">
							<img style="width:100px;" th:src="@{/img/register.png}" alt="register img"/>
						</div>
						
						<h1 class="text-center">Signup here!!</h1>
						<form th:action="@{/do_register}" method="post" th:object="${user}">
							<!--name field-->
							<div class="form-group">	
							    <label for="name_field">Your Name</label>
							    <input
									name="name"
									 type="text"
									 class="form-control"
									 th:classappend="${#fields.hasErrors('name') ? 'is-invalid': ''}"
									 id="name_field"
									 aria-describedby="emailHelp"
									 placeholder="Enter name"
									 
									 th:value="${user.name}"
									 >
								 <div class="invalid-feedback"
								      th:if="${#fields.hasErrors('name')}">

								     <ul class="mb-0">
								         <li th:each="err : ${#fields.errors('name')}"
								             th:text="${err}">
								         </li>
								     </ul>

								 </div>
							</div>
							<!--email field-->
							<div class="form-group">
							    <label for="email_field">Your Email</label>
							    <input
									name="email"
									 type="email"
									 class="form-control"
									 th:classappend="${#fields.hasErrors('email') ? 'is-invalid': ''}"
									 id="email_field"
									 aria-describedby="emailHelp"
									 placeholder="Enter email"
									 
									 th:value="${user.email}"
									 >
								 <div class="invalid-feedback"
 								      th:if="${#fields.hasErrors('email')}">

 								     <ul class="mb-0">
 								         <li th:each="err : ${#fields.errors('email')}"
 								             th:text="${err}">
 								         </li>
 								     </ul>

 								 </div>
							</div>
							<!--password field-->
							<div class="form-group">
							    <label for="password_field">Your Password</label>
							    <input
									name="password"
									 type="password"
									 class="form-control"
									 th:classappend="${#fields.hasErrors('password') ? 'is-invalid': ''}"
									 id="password_field"
									 aria-describedby="emailHelp"
									 placeholder="Enter password"
									 
									 >
								 <div class="invalid-feedback"
 								      th:if="${#fields.hasErrors('password')}">

 								     <ul class="mb-0">
 								         <li th:each="err : ${#fields.errors('password')}"
 								             th:text="${err}">
 								         </li>
 								     </ul>

 								 </div>
							</div>
							<!--user about field-->
							<div class="form-group">
							    <textarea 
									th:text="${user.about}"
									placeholder="Enter something about yourself"
									name="about" 
									id="about"
									rows="8"></textarea>
							</div>
							<!--terms and agreement-->
							<div class="form-group form-check">
								<input 
									type="checkbox"
									name="agreement"
									class="form-check-input"
									id="agreement"
								/>
								<label for="agreement">Accept terms and conditions</label>
							</div>
							<div class="container text-center">
								<button type="submit" class="btn btn-primary">Submit</button>
								<button type="reset" class="btn bg-warning">Reset</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>
